# Compression
Brotli>=1.1.0

# Command-line interface
click>=8.1.7

# Language detection
fast-langdetect==0.2.0

# Logging
loguru>=0.6.0

# Numerical computations
numpy>=1.21.6,<2.0.0

# Data validation and settings management
pydantic>=2.7.2,<2.8.0

# PDF processing
PyMuPDF>=1.24.9

# Machine learning
scikit-learn>=1.0.2
torch>=2.2.2,<=2.3.1

# LLM monitoring
langfuse==2.56.2

# Computer vision
unimernet==0.2.1
ultralytics
paddleocr==2.7.3
paddlepaddle==3.0.0b1
struct-eqtable==0.3.2
doclayout_yolo==0.0.2
einops

# Model acceleration
accelerate 

# Transformers library
transformers

# Web-based UI
gradio
gradio_pdf

# OCR
rapidocr-paddle
rapid_table

# YAML parsing
PyYAML